<html>
<head>
	<title>Supply parameters for automated detection</title>
</head>
<div id="loadingGif" style="display:none"><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></div>
<div id="loadingMessage" style="display:none"<label> Object detection, transformation and pixel analysis in progress. This could take 10-12 second per image.</label></div>

<body>
<div class="detect" id = "page"> 
  <form action="{{ url_for("submit_detect")}}" method="post">
    <h2>Supply parameters for automated detection</h2>
    <label>
      Original images path
      <p><input type="text" name="Orig_path" id="Orig_path" required ></p>
    </label>
    <label>
      Project dir path
      <p><input type="text" name="Project_dir_path" id="Project_dir_path" required ></p>
    </label>
    <label>
      Board height:
      <p><input type="text" name="Board_height" id="Board_height" value = 105 required ></p>
    </label>
    <label>
      Board width:
      <p><input type="text" name="Board_width" id="Board_width" value = 35 required ></p>
    </label>
    <label>
      Square side length:
      <p><input type="text" name="Rect_l" id="Rect_l" value = 5 required ></p>
    </label>
    <label>
      R Top gap:
      <p><input type="text" name="r_gap_top" id="r_gap_top" value = 0 required ></p>
    </label>
    <label>
      R Side gap:
      <p><input type="text" name="r_gap_side" id="r_gap_side" value = 2 required ></p>
    </label>
    <label>
      B Top gap:
      <p><input type="text" name="b_gap_top" id="b_gap_top" value = 0 required ></p>
    </label>
    <label>
      B Side gap:
      <p><input type="text" name="b_gap_side" id="b_gap_side" value = 2 required ></p>
    </label>
    <label>
      P Top gap:
      <p><input type="text" name="p_gap_top" id="p_gap_top" value = 15 required ></p>
    </label>
    <label>
      P Side gap:
      <p><input type="text" name="p_gap_side" id="p_gap_side" value = 15 required ></p>
    </label>
    <label>
      Save images:
      <p><input type="checkbox" name="Save_images" id="Save_images" checked ></p>
    </label>
    <p><input type=submit value=Calibrate id=Submit></p>
  </form>
 </div>
</html>
</body>
</html>
            
