
            <html>
            <body>
            <div class="wrapper"> 
              <form action="{{ url_for("get_coord")}}" method="post">
                <h2>Test One</h2>
                <label>
                  <input type="radio" name="Load" value="CSV" required>
                  Load coords from CSV
                </label>
                <label>
                  <input type="radio" name="Load" value="Annotate" required>
                  Annotate Images
                </label>
                <p><input type=submit value=Next></p>
              </form>
             </div>
            </html>
            </body>
            </html>
            
